<mat-card class="example-card">
  <mat-card-header>    
    <mat-card-title>NOVO ITEM</mat-card-title>    
  </mat-card-header>

  <div class="row justify-content-start">
    <form [formGroup]="options">
      <mat-form-field appearance="fill"
          [hideRequiredMarker]="hideRequiredControl.value"
          [floatLabel]="floatLabelControl.value">
        <input matInput placeholder="Simple placeholder" required>
      </mat-form-field>

      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>

      <mat-form-field appearance="fill"
          [hideRequiredMarker]="hideRequiredControl.value"
          [floatLabel]="floatLabelControl.value">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
      </mat-form-field>
    </form>
  </div>

  <mat-card-actions>
    <button mat-button (click)="closeModal()">INCLUIR</button>    
  </mat-card-actions>
</mat-card>