<div [formGroup]="orderForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nova Planilha</mat-card-title>
      <mat-card-subtitle>Insira uma nova planilha preenchendo a Data e os demais campos</mat-card-subtitle>
      <span class="fill-remaining-space"></span>    
      <button [disabled]="!orderForm.valid" (click)="onSubmit()" mat-raised-button color="primary" class="pb-2 pt-2">CONFIRMAR</button>      
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-form-field class="example-full-width mr-2">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Planilha - Segunda Manha" formControlName="name" required>
      <mat-error>
        O campo nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="ml-5 mr-5">
    <mat-label>Data Planilha</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error>
        O campo data é <strong>obrigatório</strong>
    </mat-error>
    </mat-form-field>
  </mat-card>
</div>
